body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
   
}
.menu{
    background-color: black;
    width: 100%;
    height: 2.5rem;
    color: white;
}
.display{
    background-color: gray;
    width: 100%;
    height: 20rem;
    margin-top: 0.1rem;
}
.box{

    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    height:20rem ;
    width: 100%;
}
.num1{
    background-color: rgb(177, 222, 233);
    width: 155px;
height: 20rem;
}
.num2{
     background-color:rgb(124, 219, 231);
    width: 155px;
height: 20rem;
}
.num3{
     background-color: rgb(74, 149, 219);
    width: 155px;
height: 20rem;
}
.num4{
     background-color: rgb(86, 209, 158);
    width: 155px;
height: 20rem;
}
.num5{
     background-color: rgb(81, 156, 206);
    width: 155px;
height: 20rem;
}
.num6{
     background-color: rgb(150, 240, 76);
    width: 155px;
height: 20rem;
}
.num7{
     background-color: rgb(172, 80, 172);
    width: 155px;
height: 20rem;
}
.login-box{
    height: 100px;
    width: 750px;
    background-color:white;
    border-radius: 10px 10px 10px 10px;
}
.login-box{
    position: absolute;
    top: 150px;
    left: 150px;
}
.bt{
    background-color: orangered;
    color: white;
    position: absolute;
    left: 300px;
    top: 50px;
    border: 0;
    width: 150px;
    border-radius: 10px 10px 10px 10px ;
    height: 30px;
}
